<!-- <mat-toolbar  color="accent">
    <mat-toolbar-row class="fixed-header">
  
     

     
      <div style="margin-left: 75%" class="nav">

        <a mat-button [routerLink]="'login'"> <b>Login</b></a>
        <a mat-button [routerLink]="'Register'"> <b>Register</b></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
<div class="titl">

</div> -->

<!-- <div class="d1">
  <app-login></app-login>
</div>  -->
<app-header [inHome]="isHome">

</app-header>
<div class="imagee">
<img src="https://t3.ftcdn.net/jpg/02/76/06/90/360_F_276069053_y4tHoNkZKXwmGCdll035pmGANJDvNAUB.jpg" height="740" width="1440">
</div>


